<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark p-1 w-100">
      <a routerLink="/home" class="navbar-brand">
        <h1 style="color: lightgrey;">YummYZonE</h1>
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto d-flex align-items-center ">
          <li class="nav-item">
            <a routerLink="" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="" class="nav-link">
              <mat-form-field>
                <mat-label>
                  <i class="fa-solid fa-magnifying-glass"></i> Search
                </mat-label>
                <input matInput />
              </mat-form-field>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="" class="nav-link">All Categories</a>
          </li>
          <li class="nav-item">
            <a routerLink="" class="nav-link">About us</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
