<br><br>
<footer class="bg-dark text-white pt-5 pb-4">
  <div class="container text-md-left">
    <div class="row text-md-left">

      <!-- About Section -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">GoXploreX</h5>
        <p>
          Discover amazing events and activities across India. Book tickets easily and explore the best experiences in every city.
        </p>
      </div>

      <!-- Quick Links -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Quick Links</h5>
        <p><a routerLink="/display/home" class="text-white text-decoration-none">Home</a></p>
        <p><a routerLink="/display/userevents" class="text-white text-decoration-none">Events</a></p>
        <p><a routerLink="/display/useractivities" class="text-white text-decoration-none">Activities</a></p>
      </div>

      <!-- Contact Info -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact</h5>
        <p><i class="fa-solid fa-location-dot me-2"></i>Hyderabad, Telangana, India</p>
        <p><i class="fa-solid fa-envelope me-2"></i>support@goxplorex.com</p>
        <p><i class="fa-solid fa-phone me-2"></i>+91 93460 69748</p>
      </div>

      <!-- Social Media -->
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Follow Us</h5>
        <a routerLink="#" class="btn btn-outline-light btn-floating m-1"><i class="fab fa-facebook-f"></i></a>
        <a routerLink="#" class="btn btn-outline-light btn-floating m-1"><i class="fab fa-twitter"></i></a>
        <a routerLink="#" class="btn btn-outline-light btn-floating m-1"><i class="fab fa-instagram"></i></a>
        <a routerLink="#" class="btn btn-outline-light btn-floating m-1"><i class="fab fa-linkedin-in"></i></a>
      </div>

    </div>

    <hr class="mb-4">

    <div class="row align-items-center">
      <div class="col-md-7 col-lg-8">
        <p>© 2025 GoXploreX. All Rights Reserved.</p>
      </div>
      <div class="col-md-5 col-lg-4">
        <p>Made with ❤️ by Ganesh Duggirala</p>
      </div>
    </div>
  </div>
</footer>
